<%- include("template/header", {title:'Cliente'}) %>
<link rel="stylesheet" href="css/Cliente.css">
</head>

<body>
    <div class="Pagina_Principal">
        <%- include("template/navbar") %>
        <div class="Principal container-fluid">
            <br> <br><br> <br>
            <div class="Bienvenido container">
                <h1 class="title">bienvenido <%= nombre %> !</h1>
            </div>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-1-tab" data-bs-toggle="pill" data-bs-target="#pills-1" type="button" role="tab" aria-controls="pills-home" aria-selected="true">¿DESEAS HACER ALGO A TU VEHÍCULO?<i class="far fa-question-circle"></i></button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-2-tab" data-bs-toggle="pill" data-bs-target="#pills-2" type="button" role="tab" aria-controls="pills-home" aria-selected="false">MI FACTURA<i class="fas fa-print"></i></button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-3-tab" data-bs-toggle="pill" data-bs-target="#pills-3" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">MI DIAGNÓSTICO AUTOMOTRIZ<i class="far fa-newspaper"></i></button>
                </li>
                
            </ul>





            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
                    
                    <div class="input container-fluid-1">
                        <label for="">elija los mantenimientos que les  hara a su vehiculo</label>
                        <div class="Extra">
                            <div>
                                <br>
                                <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                                <h5>SERVICIOS EMBELLECIMIENTO AUTOMOTRIZ</h5> <br>
                                <i class="fas fa-magic"></i> <br>
                                <p>
                                    Laminado y pintura <br>
                                    Lavado de tapicería <br>
                                    Detailing <br>
                                </p>
                            </div>
                            <div><br>
                                <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                                <h5>SERVICIOS MANTENIMIENTO PREVENTIVO AUTOMOTRIZ</h5><br>
                                <i class="far fa-file-powerpoint"></i>
                                <p>
                                    Revisión de frenos <br>
                                    Cambio de líquidos de frenos <br>
                                    Cambio de aceite <br>
                                    Cambio de Kit de Distribución <br>
                                    Sincronización y puesta punto a punto <br>
                                    Inspección en la dirección <br>
                                </p>
                            </div>
                            <div><br>
                                <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                                <h5>SERVICIOS MANTENIMIENTO CORRECTIVO AUTOMOTRIZ</h5><br>
                                <i class="fas fa-balance-scale-right"></i>
                                <p>
                                    Suspensión <br>
                                    Dirección <br>
                                    Amortiguadores <br>
                                    Kit de Embrague <br>
                                    Electricidad y electrónica <br>
                                    Corrección de fugas <br>
                                </p>
                            </div>
                            <div><br>
                                <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                                <h5>REPARACIÓN DE MOTOR</h5><br><br><br>
                              <i class="fas fa-cogs"></i>
                            </div>
                            <div><br>
                                <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                                <h5>REPARACIÓN DE CAJA DE VELOCIDADES</h5>
                                <i class="fas fa-bolt"></i>
                            </div>
                            <div><br>
                                <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                                <h5>REPARACIÓN DEL AIRE ACONDICIONADO</h5>
                                <i class="fab fa-airbnb"></i>
                            </div>
                            <div><br>
                                <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                                <h5>REPARACIÓN DEL TUBO DE ESCAPE</h5>
                               <i class="fas fa-vial"></i>
                            </div>
                            <div><br>
                                <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                                <h5>REPARACIÓN ELECTRÓNICA AUTOMOTRIZ</h5>
                               <i class="fas fa-charging-station"></i>
                            </div>
                            <div><br>
                                <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                                <h5>REPARACIÓN MECÁNICA AUTOMOTRIZ</h5>
                                <i class="fas fa-wrench"></i>
                            </div>
                                <div><br>
                                <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                                <h5>REPARACIÓN DE LA BOMBA DE INYECCIÓN DIÉSEL</h5>
                               <i class="fas fa-oil-can"></i>
                            </div>
                                                  <div><br>
                                <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                                <h5>REPARACIÓN DE SUSPENSIÓN</h5>
                               <i class="fab fa-phabricator"></i>
                            </div>
                                                  <div><br>
                                <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                                <h5>REPARACIÓN DEL SISTEMA DE ENCENDIDO CONVENCIONAL</h5>
                               <i class="fas fa-power-off"></i>
                            </div>
                                                  <div><br>
                                <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                                <h5>REPARACIÓN DE TREN DELANTERO</h5>
                                <i class="fas fa-peace"></i>
                            </div>
                                                                              <div><br>
                                <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                                <h5>REPARACIÓN DE FRENOS</h5>
                               <i class="far fa-hand-paper"></i>
                            </div>
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label for="descripcion_reparacion" id="elegir_reparacion" class="col-form-label">elija el vehiculo a reparar:</label>
                        <select class="form-select" aria-label="Default select example" id="descripcion_reparacion" name="descripcion_reparacion" >
                                <option value="">nissan centra</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-success">Enviar solicitud</button>
                    <!--hasta aqui negro-->
                </div>
                <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">

                    <div class="T-Factura">
        <section class="Primera">
            <div class="div_1">
                <img src="img/Logo.png" alt="">
            </div>
            <div class="div_2">
                <table>
                    <tr>
                        <td>
                            <i class="fas fa-map-marker-alt"></i>
                        </td>
                        <td>
                            Calle 166 # 54-39 <br> Bogotá - Colombia
                        </td>
                        <td>
                            <i class="fas fa-phone-alt"></i>
                        </td>
                        <td>
                            +57 000 0000 <br>+57 000 0000
                        </td>
                        <td>
                            <i class="fas fa-globe"></i>
                        </td>
                        <td>
                            www.TheFlash.com
                        </td>
                    </tr>
                </table>
            </div>
        </section> <br> <br>
        <section class="Segundo">
            <div class="div_1">DESTINATARIO</div>
            <div class="div_2">FACTURA</div>
        </section> <br> <br>
        <section class="Tercera">
            <div class="div_1"><p>Nombre Completo</p>
                <p>Codigo del Vehiculo</p>
                <p>Metodo de pago</p>
            </div>
            <div class="div_2">
                <table>
                    <tr>
                        <td>N° Factura</td>
                        <td>000000</td>
                    </tr>
                    <tr>
                        <td>Fecha de factura</td>
                        <td>dd/mm/aaaaa</td>
                    </tr>
                    <tr>
                        <td>Vencimiento</td>
                        <td>dd/mm/aaaaa</td>
                    </tr>
                </table>
                <table class="Total">
                    <tr>
                        <td>TOTAL</td>
                        <td>20154 USD</td>
                    </tr>
                </table>
            </div>
        </section> <br> <br>
        <section class="Cuarto">
            <div class="div_1">NOMBRE</div>
            <div class="div_2">DESCRIPCIÓN</div>
            <div class="div_3">PRECIO</div>
        </section><br>
        <section class="Descripcion">
            <div class="descripcion_1">---</div>
            <div class="descripcion_2">---</div>
            <div class="descripcion_3">---</div>
            <div class="descripcion_1">---</div>
            <div class="descripcion_2">---</div>
            <div class="descripcion_3">---</div>
                        <div class="descripcion_1">---</div>
            <div class="descripcion_2">---</div>
            <div class="descripcion_3">---</div>
            <div class="descripcion_1">---</div>
            <div class="descripcion_2">---</div>
            <div class="descripcion_3">---</div>
        </section> <br> 
        <table class="Sub_Total">
            <tr>
                <td class="title-factura">Sub Total</td>
                <td>5545454</td>
            </tr>
            <tr>
                <td class="title-factura">Total</td>
                <td>5545454</td>
            </tr>
        </table>

    </div>





                    
                    <div>
                        <button type="button" class="btn btn-success">Pagar Factura</button>
                        <button type="button" class="btn btn-secondary">Verificar Factura</button>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-3" role="tabpanel" aria-labelledby="pills-3-tab">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col"># de reparacion</th>
                                <th scope="col">NOMBRE Y PLACA DEL VEHICULO</th>
                                <th scope="col">TIPO DE REPARACION</th>
                                <th scope="col">DESCRIPCION REPARACION</th>
                                <th scope="col">ESTADO DEL VEHICULO:</th>
                                <th scope="col">PRECIO</th>
                                <th scope="col">MI VIDEO DE INGRESO</th>
                                <th scope="col">REALIZAR REPARACIÓN</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% reparaciones.forEach(reparacion => { %>
                            <tr>
                                <th scope="row"><%= reparacion.id_reparacion %></th>
                                <th scope="col"><%= vehiculos[reparacion.id_vehiculo] %></th>
                                <td><%= reparacion.descripcion_reparacion %></td>
                                <td>descripcion</td>
                                <td><%= reparacion.estado_reparacion %></td>
                                <td>50$</td>
                                <td><i class="far fa-calendar-alt"></i></td>
                                <td class="text-center"><a class="btnEditar btn btn-primary" id="editar_usuario">SI</a><a class="btnBorrar btn btn-danger" id="borrar_usuario">NO</a></td>
                            </tr>
                            <% }) %>
                            
                            </tr>
                        </tbody>
                    </table>
                    <br> <br>
                    
                    <button type="button" class="btn btn-success">Seleccionar Mantenimiento</button> <br> <br>
                </div>
            </div>
        </div>
        
    </div>
    <script src="js/Login.js"></script>

    <%- include("template/footer") %> 